[submodule "COREMOD_iofits"]
	path = COREMOD_iofits
	url = https://github.com/milk-org/COREMOD_iofits
[submodule "src1/COREMOD_iofits"]
	path = src1/COREMOD_iofits
	url = https://github.com/milk-org/COREMOD_iofits
[submodule "coronagraphs"]
	path = coronagraphs
	url = https://github.com/FALCON-orga/coronagraphs
[submodule "src/conoragraphs"]
	path = src/conoragraphs
	url = https://github.com/FALCON-orga/coronagraphs
[submodule "00CORE"]
	path = 00CORE
	url = https://github.com/milk-org/00CORE
[submodule "src/PIAACMCsimul"]
	path = src/PIAACMCsimul
	url = https://github.com/FALCON-orga/PIAACMCsimul
